In [5]:
import pandas as pd
pd.__version__
lectures = pd.read_csv('lectures.csv', sep=',')
display(lectures)
lectures.info()

     lecture_id  tag  part           type_of
0            89  159     5           concept
1           100   70     1           concept
2           185   45     6           concept
3           192   79     5  solving question
4           317  156     5  solving question
..          ...  ...   ...               ...
413       32535    8     5  solving question
414       32570  113     3  solving question
415       32604   24     6           concept
416       32625  142     2           concept
417       32736   82     3           concept

[418 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB

In [33]:
# Уникальные значения в столбцах
unique_lectures = lectures['lecture_id'].nunique()
unique_tags = lectures['tag'].unique()
unique_types = lectures['type_of'].value_counts()
print (unique_lectures)
print (unique_tags)
print (unique_types)

418
[159  70  45  79 156 114 179 134  93  80  98 101  33  74  60 181  43   4
 109  89 142 140 104   1  65 155  26 178 173   7 147 171  78  62  64 141
 124 161  24  23 152   8  94 119  37 177  54 157 132   6  67 123  50  25
 175 116 136  20 129 127  53 130  13  42  72  36 172  57 151   9 187  58
 166  49 164 163  47 139  85  91 158  48  69  76  28 167  18   0  27  19
 149  99  39  34  61  14 113 182  55 145  96 133  12 106 126 105 125 168
   5  71  82  44 108 143  90  16 112  73  40 111  51  97  31  52 180 138
 150 120 128  68  95 170 184  30 174 153  66  17  75  83 183 148 144 103
 118  15 115 176 137 169   2]

type_of
concept             222
solving question    186
intention             7
starter               3
Name: count, dtype: int64

In [19]:
# Частота типов лекций
type_count = lectures['type_of'].value_counts()
type_count

type_of
concept             222
solving question    186
intention             7
starter               3
Name: count, dtype: int64

In [41]:
# Считаем количество уникальных лекций для каждого тега
lecture_count_per_tag = lectures.groupby('tag')['lecture_id'].nunique()
print (lecture_count_per_tag)

tag
0      2
1      4
2      1
4      4
5      2
      ..
181    4
182    3
183    1
184    2
187    1
Name: lecture_id, Length: 151, dtype: int64

In [21]:
# Анализ частей
part_count = lectures.groupby('lecture_id')['part'].nunique()
print(part_count.describe())

count    418.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: part, dtype: float64