In [19]:
import pandas as pd
pd.__version__

'2.2.2'

In [85]:
students_performance = pd.read_csv('students_performance.csv', sep=',')
display(students_performance.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [33]:
students_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [67]:
students_performance.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [81]:
# Подсчет количества студентов по уровням образования родителей
landsize_median = students_performance['parental level of education'].value_counts() 
landsize_median

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [83]:
# Средние оценки по уровням образования родителей
average_scores_by_education = students_performance.groupby('parental level of education')[['math score', 'reading score', 'writing score']].mean()
print(average_scores_by_education)

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

In [75]:
#Подсчет количества студентов каждого гендера
gender_counts = students_performance['gender'].value_counts()
print(gender_counts)

gender
female    518
male      482
Name: count, dtype: int64

In [97]:
#Рассмотрим средние оценки по гендерной принадлежности
average_scores = students_performance.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
display(average_scores)

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [93]:
#Для наглядности сохраним в одном DataFrame
summary = pd.DataFrame({
    'Count': gender_counts,'Average Math Score': average_scores['math score'],'Average Reading Score': average_scores['reading score'],'Average Writing Score': average_scores['writing score']}).reset_index()

display (summary)

,gender,Count,Average Math Score,Average Reading Score,Average Writing Score
0,female,518,63.633205,72.608108,72.467181
1,male,482,68.728216,65.473029,63.311203

In [99]:
# Колличество студентов по рассовой принадлежности
ethnicity_counts = students_performance['race/ethnicity'].value_counts()
print (ethnicity_counts)

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [101]:
# cредние оценки по расовой принадлежности
average_scores_by_race = students_performance.groupby('race/ethnicity')[['math score', 'reading score', 'writing score']].mean()
display (average_scores_by_race)

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143